# GoogleAI_Studio
GOOGLEAI_API_KEY='YOUR_API_KEY_FROM_GOOGLE_AI_STUDIO'

# Ollama 
OLLAMA_API_KEY='YOUR_API_KEY_FROM_OLLAMA'

GITHUB_TOKEN='YOUR_GITHUB_PERSONAL_ACCESS_TOKEN'
BOT_TOKEN='YOUR_TELEGRAM_BOT_TOKEN'

DBT_PROJECT_NAME='NAME_OF_YOUR_DBT_PROJECT_DIRECTORY'
DBT_PROJECT_PATH='PATH_TO_YOUR_DBT_PROJECT_DIRECTORY'

SERVICE_PORT='8888'

GITHUB_REPO_LINK='https://github.com/YOUR_GITHUB_USERNAME/YOUR_GITHUB_REPO'
BASE_BRANCH='YOUR_REPO_BASE_BRANCH'

NOTIFIER_DB_USERNAME='YOUR_DB_USERNAME'
NOTIFIER_DB_PASSWORD='YOUR_DB_PASSWORD'
NOTIFIER_DB_DATABASE='YOUR_DB_DATABASE'

GIT_PLATFORM=''